/* Minimal CSS reset */

/* Default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

/* Inherit box-sizing for all elements */
*, *::before, *::after {
  box-sizing: inherit;
}

/* Basic typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* Images and videos max out at full width */
img,
video {
  max-width: 100%;
  height: auto;
}
